body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url("todo3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-container {
    display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  max-width: 36rem;
  margin: 15rem auto;
  background-color: #fff;
  padding-left: inherit;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;

}

h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    display: flex;
    margin-top: -150px;
}

input[type="text"] {
    flex: .5;
    padding: 0.900rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: -20rem;
    display: flex;
    justify-content: center;
    margin-left: 30rem;
    max-width: 30rem;
}


button#addTask {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
}

button#addTask:hover {
    background-color: #45a049;
}

ul#taskList {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    margin-left: 38rem;
    margin-right: 37rem;
}

li:last-child {
    border-bottom: none;
}

.delete-button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}

